*, body, html {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container.one, .container.five {
    background-color: #1F2937;
}

.hero {
    /* font: 48px 900 #F9FAF8; */
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary-text, .header-link {
    /* font: 18px #E5E7EB; */
    font-size: 18px;
    color: #E5E7EB;
}

#header-logo {
    /* font: 24px #F9FAF8; */
    font-size: 24px;
    color: #F9FAF8;
}

button, .container.four {
    background-color: #3882F6;
}

.body-second-text {
    /* font: 36px 700 #1F2937; */
    font-size: 36px;
    font-weight: 700;
    columns: #1F2937;
}

.container.three {
    background-color: #E5E7EB;
}

.quote {
    /* font: 36px lighter #1F2937; */
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
}

button {
    color: white;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    margin-top: 10px;
}

.container.one {
    color: white;
}

.container {
    padding-left: 200px;
    padding-right: 200px
}

.container.one {
    padding-top: 10px;
    padding-bottom: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.container-links {
    display: flex;
    gap: 20px;
}

.header-link {
    text-decoration: none;
    color: white;
}

.body-first {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    gap: 50px;
}

.container.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 80px;
    gap: 40px;
}

.container-image {
    width: 150px;
    text-align: center;
}

.the-images {
    display: flex;
    gap: 50px;
}

.image {
    width: 150px;
    border:5px solid #3882F6;
    border-radius: 10px;
}